h1{
    text-align: center;
    color: rgb(56, 53, 56);
}

body{
    background-color: rgb(130, 109, 155) !important;
}

p{
    margin: 5px 0px;
}

.dailyCard{
    color: rgb(56, 53, 56);
    background-color: rgb(203, 189, 219);
    border-color: rgb(56, 53, 56);
}

.dailyCard{
    text-align: center;
}

.fing{
    display: flex;
    justify-content: center;
}

hr{
    margin: 5px 0px;
}